<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
        const listaServico = [
            <% listaServicos.forEach(item => { %>
                {
                    id: <%= item.id %>,
                    desc: <%= item.desc %>,
                    preco: <%= item.preco %>
                }
            <% }); %>
        ]

        function testarDados() {
            const desc = document.forms[0].desc.value
            const existe = listaServico.some(item => {
            const ret = (item.desc === desc);
            return ret;
        });

        if(existe) {
            alert('Essa atividade já foi inserida')
            return false
        }
        return true
        }
    </script>
</head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
        <% listaServicos.forEach(item => { %>
            <li>
                <%= item.id %> : <%= item.desc %> - <%= item.preco %>
            </li>
        <% }); %>
    </ul>

    <hr>

    <form method="POST">
        Descrição: <input type="text" name="desc" /><br />
        Preço: <input type="text" name="preco" /><br />
        <input type="hidden" name="rnd" value="<%= rnd %>" />
        <input type="submit" onclick="return testarDados()"/>
    </form>
  </body>
</html>
